@import "../../theme/index.scss";
.container {
  width: 100%;
  height: 100%;
  font-size: 14px;
  // background-image: linear-gradient(
  //   rgba(44, 254, 255, 0.18) 0%,
  //   rgba(44, 254, 255, 0) 100%
  // );
  background-image: linear-gradient(rgba(0, 12, 16, 1), rgb(2, 38, 46));
  border: 1px solid $node-border-color-outline;
  color: $node-color-text-light;
  opacity: 0.9;
  padding: 10px 0;
  transform: translateZ(0);
}
// .node-icon {
//   flex-shrink: 0;
//   width: 100%;
//   height: 46px;
//   padding-top: 6px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   font-size: 24px;
// }
.title {
  width: 16px;
  height: 100%;
  line-height: 1.26;
  display: flex;
  align-items: center;
  margin: auto;
  text-align: center;
  word-wrap: break-word;
  word-break: break-all;
  overflow-y: hidden;
  // word-wrap: break-word;
  // writing-mode: sideways-rl;
}

.x6-node-selected {
  .container {
    border-width: 2px;
    border-color: $node-border-color-light;
    opacity: 1;
  }
}
