// node-border
$node-border-color-primary: #194449;
$node-border-color-light: rgb(44, 254, 255);
$node-border-color-outline: #517377;

// node-background
$node-header-background-color-primary: rgba(44, 254, 255, 0.18);
$node-header-background-color-light: #2cfeff;
$node-background-color: #10161b;

// node-text
$node-color-text-primary: #1ca7a7;
$node-color-text-dark: #2a7883;
$node-color-text-light: #2cfeff;

$node-head-color-dark: #0f2c30;

$node-height: 80px;
