@import "../../theme/index.scss";
.entity-container {
  width: 100%;
  height: 100%;
  border-radius: 2px;
  background-color: $node-background-color;
  border: 1px solid $node-border-color-outline;
  .content {
    width: 100%;
    height: 100%;
    .head {
      width: 100%;
      height: 38px;
      line-height: 38px;
      background: $node-header-background-color-primary;
      font-size: 14px;
      color: #fff;
      text-align: center;
    }
    .body {
      width: 100%;
      transform: translateZ(0);
      -webkit-transform: translateZ(0);
      // height: calc(100% - 36px - 6px);
      // overflow: auto;
      cursor: pointer;
      .body-item {
        width: 100%;
        padding: 10px 12px 0;
        height: $node-height;
        font-size: 12px;
        color: $node-color-text-dark;
        border-bottom: 1px solid $node-border-color-outline;
        position: relative;
        // transform: translateZ(0);
        // -webkit-transform: translateZ(0);
        .text-content {
          font-size: 12px;
          overflow: hidden;
          word-break: break-all;
          text-overflow: ellipsis;
          &.text-row1 {
            white-space: nowrap;
          }
          &.text-row2 {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            line-height: 20px;
          }
        }
        .text-ellipsis {
          width: 100%;
          overflow: hidden;
          white-space: nowrap;
          word-break: break-all;
          text-overflow: ellipsis;
        }
        .delete {
          position: absolute;
          top: 5px;
          right: 5px;
          color: #f84618;
          font-size: 12px;
          cursor: pointer;
        }
      }
      .first-item {
        height: 56px;
      }
    }
    .footer {
      text-align: center;
      cursor: pointer;
      height: 20px;
      line-height: 20px;
      font-size: 20px;
      font-weight: 400;
      color: #79b8e8;
      margin: 4px 0 4px;
    }
  }
}

//
::v-deep {
  .el-select {
    width: 100%;
    overflow-x: hidden;
  }
  .el-input__inner {
    text-align: center;
    max-height: 54px !important;
  }
  .el-select__tags {
    max-height: 46px !important;
    overflow-y: auto;
  }
  .el-tag--info,
  .el-select__tags-text {
    overflow-x: hidden;
  }
  .el-form-item--mini.el-form-item,
  .el-form-item--small.el-form-item {
    margin-bottom: 10px;
    width: 100%;
    .el-form-item__content {
      width: 100%;
    }
  }
  .el-form--label-top .el-form-item__label {
    font-size: 12px;
    padding: 0;
    color: $node-color-text-primary;
  }
}
/*占位文本样式*/
::v-deep {
  .head {
    input::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder {
      color: #f13a30;
      font-size: 12px;
    }

    input:-moz-placeholder,
    textarea:-moz-placeholder {
      color: #f13a30;
      font-size: 12px;
    }

    input::-moz-placeholder,
    textarea::-moz-placeholder {
      color: #f13a30;
      font-size: 12px;
    }

    input:-ms-input-placeholder,
    textarea:-ms-input-placeholder {
      color: #f13a30;
      font-size: 12px;
    }
  }
}

.x6-node-selected {
  .entity-container {
    border: 2px solid $node-border-color-light;
    // box-shadow: 0 0 4px #00b5ff;
    .content .head {
      background: $node-header-background-color-light;
      color: $node-head-color-dark;
    }
  }
}
